# Byte-compiled / optimized / DLL files
__pycache__/
*.py[code]
*$py.class

# C extensions
*.so

#Distribution/packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/ # Usually media files are not stored in git

# Environments
.env # !!! VERY IMPORTANT: Ignore the file with secrets !!!
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore
docker-compose.override.yml # Often used for local overrides
postgres_data/ # Don't store DB data in git

# IDE / Editor / OS Files
.vscode/
.idea/
*.project
*.pydevproject
.project
.settings/
*.DS_Store
Thumbs.db
*.swp
*.swo

# Static files (if you'll use collectstatic)
/staticfiles/
